.App {
  text-align: center;
}
form {
  margin: auto;
  width: 300px;
}

.container {
  margin:auto;
  display: flex;
  border: 2px solid;
  justify-content: space-evenly;
}
.adminReg {

}
.adminLogin {

}
