.App {
  text-align: center;
}
.table-container{
  margin:auto;
  width:700px;
  border: 4px solid;
  border-radius: 30px;
  background-color: blanchedalmond;

}
nav {
  border: 2px solid;
  justify-content: center;
  display: flex;
}
table {
  width: 500px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  justify-content: center;
  margin:auto;
}
.wrapper {
  background-color: rgb(122, 235, 255);

}
html {
  background-color: rgb(122, 235, 255);
}
